
@{       
    ViewBag.Title = "Events";
}

</br>
</br>
</br>

    <div style="margin-top: 5%;">
        <div class="card-group">


            <div class="card m-1" style="box-shadow: 2px 2px 2px 2px #c6c6c6; ">
                <a href="/Home/Reservation?l=GirlsGathering" style="text-decoration-line:none;  ">
                    <img src="~/project image/44.jpeg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#fbcd20; color:white;  text-align: center;  ">
                        <h3 class="card-title">Girls Gathering</h3>
                        <h6 class="card-title" style="color: rgb(56, 50, 50); font-size: 14px;"> 50KD per one</h6>


                    </div>
</div>
            </a>
            <div class="card m-1" style="box-shadow: 2px 2px 2px 2px #c6c6c6 ; ">
            <a href="/Home/Reservation?l=Movie Night" style="text-decoration-line:none; ">
            <img src="~/project image/15.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color:#ed4565; color:#f7f7f7; text-align: center;">
            <h3 class="card-title">Movie Night</h3>
            <h6 class="card-title" style="color: rgb(56, 50, 50); font-size: 14px; "> 50KD per Person </h6>

            </div>
            </div>
            </a>
            <div class="card m-1" style="box-shadow: 2px 2px 2px 2px #c6c6c6; ">
                <a href="/Home/Reservation/?l=Baby Shower" style="text-decoration-line:none; ">
                    <img src="~/project image/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#54b27e; color:white;  text-align: center;">
                        <h3 class="card-title"> Baby Shower</h3>
                        <h6 class="card-title" style="color: rgb(56, 50, 50); font-size: 14px;"> 50KD per Person</h6>

                    </div>
            </div>
            </a>
        </div>
        <div class="card-group" style="margin-left: 15%; margin-right: 15%; ">

            <div class="card m-lg-5 evncard" style="box-shadow: 2px 2px 2px 2px #c6c6c6; margin-right: -1%;">
            <a href="/Home/Reservation?l=Boys Gatheringr" style="text-decoration-line:none; ">
            <img src="~/project image/9.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color:#4db9ff;; color:white; text-align: center;">
                <h3 class="card-title">Boys Gathering</h3>
            <h6 class="card-title" style="color: rgb(56, 50, 50); font-size: 14px;"> 50KD per Person</h6>

            </div>
            </div></a>
            <div class="card m-lg-5" style="box-shadow: 2px 2px 2px 2px #c6c6c6; margin-left: -1%;">
                <a href="/Home/Reservation?l=Bride Shower" style="text-decoration-line:none; ">
                    <img src="~/project image/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#eb888b; color:white; text-align: center;">
                        <h3 class="card-title">Bride Shower</h3>

                        <h6 class="card-title" style="color: rgb(56, 50, 50); font-size: 14px;">  50KD per Person</ا>


                    </div>
            </div> </a>

        </div>



    </div>

